@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 0.2rem;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #ffffff39;
    width: 0.1rem;
    border-radius: 1rem;
  }
}

/* messages section */
.message-scroll::-webkit-scrollbar {
  background-color: #daddd8;
  width: 5px;
  border-radius: 3px;
}
.message-scroll::-webkit-scrollbar-thumb {
  background-color: #fe5f55;
  width: 5px;
  border-radius: 3px;
}
.sent:after,
.recieved:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 5px;
  transform: translateY(-50%);
  background-color: #fe5f55;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
.recieved:after {
  top: calc(50%-10px);
  left: -5px;
  transform: rotate(180deg);
}
.sent:after {
  top: 50%;
  right: -5px;
}
/* emoji Containers */
.emoji-catagories button {
  filter: contrast(0) !important;
}
.epr-emoji-category-label {
  color: white !important;
  background-color: transparent !important;
  backdrop-filter: blur(30px) !important;
}

.epr-category-nav > button.epr-cat-btn:focus:before {
  border: none !important;
  border-radius: 0 !important;
  left: 50% !important;
  bottom: 0 !important;
  top: 100% !important;
  right: 0 !important;
}
.epr-search {
  border: 1px solid #daddd8 !important;
  background-color: transparent !important;
}
.epr-preview {
  border: none !important;
}
.epr-body::-webkit-scrollbar {
  background-color: rgb(57, 56, 56) !important;
  width: 5px !important;
  border-radius: 5px;
}
.epr-body::-webkit-scrollbar-thumb {
  background-color: rgb(228, 8, 8) !important;
  width: 5px;
  border-radius: 5px;
}
